.navigateDesign {

    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 1em;
    text-align: justify;
    user-select: none;
    background-color: transparent;
}

.navigateDesign:hover{

    cursor: pointer;

}
