.CButtonDesign {

    height: 4em;
    width: 10em;

    border-radius: 5em;
    margin: 1em;

    background-color: red;
    color: white;
    font-weight: bold;

    display:flex;
    align-items: center;
    justify-content: center;

    transition: 0.4;

}

.CButtonDesign:hover {

    background-color: rgb(54, 232, 0);
    cursor: pointer;
    transition: 0.4;
}