.registerDesign {

    height: 84vh;
    width: 100vw;

    background-image: url('../../img/neonail1.jpg');

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.error {
    color: grey;
}


