.registerDesign {

    height: 84vh;
    width: 100vw;

    background-color: rgb(255, 122, 200);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
