.profileDesign {

    height: 84vh;
    width: 100vw;
    

    background-color: rgb(69, 206, 199);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputDesign{
 
    border-radius: 0.9em;
    border: 0.2em solid rgb(180, 105, 58);
    border-style:hidden;

    text-align: center;

    margin: 1em;
    height: 5vh;
    width:fit-content;

}
.inputDesign:focus {

    outline-style:groove;
    outline-color: brown;
     
    }
