.homeDesign {

    height: 84vh;
    width: 100vw;

    color: rgb(87, 67, 26);
    background-image: url('../../img/neonail1.jpg');

    display: flex;
    justify-content: center;
    align-items: center;

}



