.appointmentsDesign {
    min-height: 84vh;
    width: 100vw;

    background-color:  rgb(160, 144, 128);
    flex-direction: row;
    display: flex;

    justify-content: center;
    align-items: center;
}
.appointmentsText {
    color:bisque;
    font-weight: bold;
}
.appointmentsInfo{
    color:aliceblue;
}

.inputDesign {

    border-radius: 0.9em;
    border: 0.2em solid rgb(180, 105, 58);
    border-style: hidden;

    /* background-color: hsla(28, 94%, 42%, 0.287); */
    color: rgb(180, 105, 58);
    text-align: center;

    margin: 1em;
    height: 5vh;
    width: fit-content;

}
.appointmentForm {
    flex-direction: row;
}
.appointmentForm2 {
    flex-direction: column;
}

.inputDesign:disabled {
    background-color: rgb(255, 160, 101);
    color: rgb(164, 85, 0);
}

.inputDesign:focus {

    outline-style: groove;
    outline-color: brown;

}

.appointStype {

    color: rgb(180, 105, 58);

    width: 3em;
    height: 8em;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}