.CardDesign {

    height: 4em;
    width: 10em;

    border-radius: 5em;
    margin: 1em;

    background-color: rgb(103, 59, 35);
    color: whitesmoke;
    font-weight: bold;

    display:flex;
    align-items: center;
    justify-content: center;

    transition: 0.4;

}
