.custominputDesign {

    border-radius: 0.9em;
    border: 0.2em solid rgb(180, 105, 58);
    border-style:hidden;

    text-align: center;

    margin: 1em;
    height: 5vh;
    width:fit-content;

}
.custominputDesign :disabled{
    background-color: red
    }
.custominputDesignError{

    border: 0.2 solid red;
     
}
.custominputDesign2 {

       
    color:blueviolet;
    background-color: crimson;

}

