.studioDesign {

    height: 84vh;
    width: 100vw;
    

    background-color: rgb(255, 181, 116);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.studioService {
    background-color: rgb(2, 227, 89);
    color:rgb(222, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}